.Logo1 {
    width: 300px;
    padding: 30 10;
    margin-left: 10px;
    margin-bottom: 20px;

}

li {
    text-decoration: none;
    display: flex;
    color: black;
    
}



nav a {
    text-decoration: none;
    color: #333;
    padding:auto;


    nav a {
        background-color: #333;
    
      }
  }

  nav a:hover {
   background-color: green;

  }

  ul {
display: flex;
gap: 10px;

  }

nav {
    display: flex;
    flex-direction: row;
    padding-left: 600px;
}

.Sygnet {
    padding-left: 400px;
}

#text1 {
    text-align: center;
    text-decoration: none;
    padding: 20px;
}

.textP1, .textP2 {
    margin-left: 10px;
    margin-right: 20px;
    justify-content: flex-end;
    background-color: ;

}

.mycontainer {
    display:flex;
    background-color: ;

}
.ndcontainer {
  display: flex;
  padding: 3px;

}

.grid1 {

    background-color: #00b39b;
    margin-right:auto;
    padding-right: 10px;
    
}

.gridtwo {
    background-color:#3d83df;
    margin-left: 15px;
    margin-right: 15px;
    border: none;
    box-shadow: #00b39b;
    

}

.gridthree {
    background-color: #1b2734;
    margin-right: 20px;
  
    color: white;

}


    