.Logo1 {
    width: 300px;
    padding: 30 10;
    margin-left: 10px;
    margin-bottom: 20px;

}

li {
    text-decoration: none;
    display: flex;
    color: black;
    
}



nav a {
    text-decoration: none;
    color: #333;
    padding:auto;


    nav a {
        background-color: #333;
    
      }
  }

  nav a:hover {
   background-color: green;

  }

  ul {
display: flex;
gap: 10px;

  }

nav {
    display: flex;
    flex-direction: row;
    padding-left: 600px;
}

.Sygnet {
    padding-left: 400px;
}

#text1 {
    text-align: center;
    text-decoration: none;
    padding: 20px;
}